body{
	background-image: url(outerspace.jpg); 
	background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#Games{
	color: darkblue;
}

p.red {
  color:red;
  font-weight: bold;
}

.space { 
  margin-top: 200px; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


h1{
	color:blueviolet;
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;;
}

p{
	color:rgb(243, 243, 243);
	Font-family: 'Trebuchet MS', sans-serif;;
}

h2{
	color: blueviolet;
	text-align: center;
}

 nav {
    width:100%;
}

nav ul{
  font-size: 1.4em;
  color: white;
  margin:auto;
  text-align: center;
  padding:30px;
  border-top: 1px solid #1C1B1A;
  background-color: rgb(63,67,120);

}

nav ul li{
  width:100%;
  display: inline;
  text-decoration: none;
  margin: auto;
}

nav ul li a {
  text-decoration: none;
  color:white;
  padding:30px;

}

nav ul li a:hover {
  background: #20234B;
}

.column {
  float: left;
  width: 33%;
  padding: 1.75px;
}


.slider {
  width: 500px;
  height: 300px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.image-container {
  width: 1500px;
  background-color: pink;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}

#slide-2:target ~ .image-container {
  left: -500px;
}

#slide-3:target ~ .image-container {
  left: -1000px;
}

#slide-4:target ~ .image-container {
  left: 0px;
}

#slide-5:target ~ .image-container {
  left: -500px;
}

#slide-6:target ~ .image-container {
  left: -1000px;
}

.buttons {
  position: relative;
  top: -20px;
}

.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgreen;
}

/* Timeline for History page */

.main-container {
  position: relative;
  width: 500px;
}

/*creating line for timeline*/
.main-container::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: rgb(63, 67, 120);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/*Adjusting box of all content*/
.text-wrapper {
  padding: 10px 40px;
  position: relative;
  width: 51%;
  box-sizing: border-box;
  margin: 50px 0;
}

.text-wrapper::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 25px;
  right: -16px;
  background-color: white;
  border: 4px solid #07049c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/*for left events*/
.left {
  left: 0;
}

/*for right events*/
.right {
  left: 50%;
}

.right::after {
  left: -10px;
}

/*content box colour padding and radius for circular corner*/
.content {
  padding: 15px 15px 15px 17px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

/*setting text property of event heading*/
.content h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: blueviolet;
  letter-spacing: 1px;
}

/*setting text property of event content*/
.content p {
  color: red;
  font-weight: 300;
  font-size: 14px;
  margin-top: 2px;
}
