<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="gallery.css">
  <title>Virtual Gallery</title>
</head>

<body>
  <header>
    <h1>Space in Video Games</h1>
  </header><br>
  <script type="gallery.js"></script>

  <nav role="navigation">
    <ul>

      <li><a href="https://discord.com/channels/1024033746959212594/1028540058204110859/1030656299102388354">Discord Bot</a></li>
      <li><a href="index.html">Home</a></li>
      <li><a href="games.html">Video Games</a></li>
      <li><a href="history.html">History</a></li>
      <li><a href="anime.html">Anime</a></li>

    </ul>
  </nav>

  <article>
    <div id="intro">
      <h1>Introduction</h1>

      <p>
        This part of our virtual gallery will show you some of the space/sci-fi games you can find
        in our Discord bot. You can find all of these games and many more like them on <a href="https://store.steampowered.com/category/space/">Steam</a>.
        They are not in any particular order, if anything check out each and see which fits your style more!
      </p>

      <p class="red">
        1. Terra Invicta - Genre: Strategy, Space, Simulation
      </p>

      <p>
        <img src="TI.jpg" alt="Terra Invicta" style="float:left;">
        Terra Invicta is a game where an alien invasion has fractured humanity into several ideological factions, 
        you are chosen to lead one of these factions to take control of Earth's many nations and expand yourself across the solar system. 
        This game portrays space fairly accurately, having specific transfer windows to save on fuel and time, you also set up many mining bases across the Solar System's planets, 
        moons and asteroids to build up resources to help the aliens, or to build warships to fight back against the aliens and their allies.
        If you'd like to check out this game and possibly play it, <a href="https://store.steampowered.com/app/1176470/Terra_Invicta/">click here!</a>
      </p>
      
     <div class="space"></div>

      <p class="red">
        2. Reentry - An Orbital Simulator - Genre: Space, Flight, Simulation
      </p>

      <p>
        <img src="Reentry.jpg" alt="Re-entry An Orbital Simulator" style="float:left;">
        Reentry is a realistic space flight simulator based on NASA's space programs, become an astronaut and take part in programs from 
        Project Mercury to the moon landing in Project Apollo. In this game you play as the astronaut controlling the spacecraft, 
        learning how to fly and operate them like a real astronaut would. 
        If you'd like to check out this game and possibly play it, <a href="https://store.steampowered.com/app/882140/Reentry__An_Orbital_Simulator/">click here!</a>
      </p>

      <div class="space"></div>

      <p class="red">
        3. Hardspace: Shipbreaker - Genre: Space, Sci-fi, Physics
      </p>

      <p>
        <img src="HS.jpg" alt="Hardspace: Shipbreaker" style="float:left;">
        Hardspace: Shipbreaker takes place in the dystopian future, most of the Solar System has been heavily industrialized, and you partake in that by working for the LYNX corporation, 
        which salvages ships and uses the parts for profit. 
        You are working to pay off a billion credit debt owed to LYNX. 
        This game accurately depicts zero g environments, along with a possible future for humanity if corporations begin having much more power in space and our society.
        If you'd like to check out this game and possibly play it, <a href="https://store.steampowered.com/app/1161580/Hardspace_Shipbreaker/">click here!</a>
      </p>

      <div class="space"></div>

      <p class="red">
        4. Space Engine - Genre: Space, Sandbox, Casual
      </p>

      <p>
        <img src="SE.jpg" alt="Space Engine" style="float:left;">
        Space Engine is 1:1 science-based universe simulator, users can explore any part of our charted universe, along with procedurally generated parts that haven't been accurately mapped by scientists yet. 
        This game is meant for players who want to explore our universe, letting them spend hours exploring our solar system and galaxy,
        along with other star systems and galaxies hundreds if not thousands of light years away!
        If you'd like to check out this game and possibly play it, <a href="https://store.steampowered.com/app/314650/SpaceEngine/">click here!</a>
      </p>

      <div class="space"></div>

      <p class="red">
        5. Kerbal Space Program - Genre: Space, Simulation, Physics
      </p>

      <p>
        <img src="KSP.jpg" alt="Kerbal Space Program" style="float:left;">
        Although KSP looks like a very cartoony space game, 
        it actually bases most if not all of its mechanics on real life physics.
        Players are given the tools to create their very own spaceships, using those to lift off the planet
        and explore and solar system similar to ours in real life. Given that the <a href ="https://store.steampowered.com/app/954850/Kerbal_Space_Program_2/">sequel</a> will
        be coming out early next year, it's a perfect time to get into it and learn as much as possible!
        If you'd like to check out this game and possibly play it, <a href="https://store.steampowered.com/app/220200/Kerbal_Space_Program/">click here!</a>
      </p>

    </div>
  </article>
      
</body>

</html>
