<!DOCTYPE html>
<html>
  <head>
	 <link rel="stylesheet" href="gallery.css">
	 <title>Virtual Gallery</title>
  </head>
<body>
	<header>
		<h1>History of Space(Travel)</h1>
	</header><br>
	<script type="gallery.js"></script>

	<nav role="navigation">
	<ul>
    
  <li><a href="https://discord.com/channels/1024033746959212594/1028540058204110859/1030656299102388354">Discord Bot</a></li>
  <li><a href="index.html">Home</a></li>
  <li><a href="games.html">Video Games</a></li>
  <li><a href="history.html">History</a></li>
  <li><a href="anime.html">Anime</a></li>

	</ul>
	</nav>

	<article>
		<div id="intro">
		<h1>Introduction</h1>
		<p><front size="50">
		
		The theme for our art gallery will be based on space in various media. These media will include things such as anime, video games, and the history of space travel and exploration in our world. We will use this gallery to show the differences and similarities between video games and anime versus our real-life history on the topic of space exploration and space in general.You will view this virtual gallery in our discord bot.</p>.

		<div class="row">
  <div class="column">
    <img src="game1.jpg" alt="Video" style="width:100%">
  </div>
  <div class="column">
    <img src="anime.jpeg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="space3.jpg" alt="space" style="width:100%">
  </div>
</div>



		<br>




		





		<div id="Games">
		<h1>Video games</h1>
		<p>For Almost 25 years video games has part of this world and given gamers a oppurnoity to enjoy numerous genres of games including space exploration.This games may inculde Star Conflict,Eve Online and No Man's Sky</p>.

		<div class="slider">
      <span id="slide-1"></span>
      <span id="slide-2"></span>
      <span id="slide-3"></span>
      <div class="image-container">
        <img src="starconflict.jpg" class="slide" width="500" height="300" />
        <img src="eveonline.png" class="slide" width="500" height="300" />
        <img src="noman.jpg" class="slide" width="500" height="300" />
      </div>
      <div class="buttons">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
      </div>
    </div>


    <h1>Anime</h1>
    <p>Anime Currently has taken off by storm.When it comes to epic journeys, space is an unbeatable setting, and that's exactly what you'll experience in Astra: Lost in Space. If you can't tell from the name of the show, Astra: Lost in Space is about a group of young people who find themselves stuck in deep space.</p>

    <img src="Astra.jpg" width="500" height="300">
    <img src="Astra2.jpg" width="500" height="300">


<h1>History</h1>
<p>Humans have always looked up into the night sky and dreamed about space.

In the latter half of the 20th century, rockets were developed that were powerful enough to overcome the force of gravity to reach orbital velocities, paving the way for space exploration to become a reality.</p>

<img src="space2..jpg" width="1000" height="500">



</body>
</html>
