<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="gallery.css">
  <title>Virtual Gallery</title>
</head>

<body>
  <header>
    <h1>History of Space(Travel)</h1>
  </header><br>
  <script type="gallery.js"></script>

  <nav role="navigation">
    <ul>

      <li><a href="https://discord.com/channels/1024033746959212594/1028540058204110859/1030656299102388354">Discord Bot</a></li>
      <li><a href="index.html">Home</a></li>
      <li><a href="games.html">Video Games</a></li>
      <li><a href="anime.html">Anime</a></li>
      <li><a href="history.html">History</a></li>

    </ul>
  </nav>

  <div id="intro">
    <h1>Introduction</h1>

    <p>
      This part of our virtual gallery will show you some of the major events that took place in the context of space travel.
      It includes a timeline showing how far we have came from the first few space flights that took place shortly after
      the Second World War, you will also find links to various resources if you would like to know more about a specific
      topic. The list is in no way complete, here is a more in depth <a href="https://en.wikipedia.org/wiki/Timeline_of_space_exploration">timeline</a>, showing many
      of humanity's achievements in space exploration.
    </p>

  </div>

  <div class="main-container">
    <!-- event 1st of timeline -->
    <div class="text-wrapper left">
      <!-- all text content of timeline -->
      <div class="content">

        <h3>1944</h3>
        <p>During the end years of WW2, Nazi Germany developed the <a href="https://en.wikipedia.org/wiki/V-2_rocket">V-2 Rocket</a>, which its
          intended purpose was to bomb Allied cities, it become the first artificial object to 
          cross what would later be defined the "<a href="https://en.wikipedia.org/wiki/K%C3%A1rm%C3%A1n_line">Kármán line</a>", which made it the first spaceflight
          in history.
          <img src="space2.jpg" alt="spaceman" style="width:100%">
        </p>

      </div>

    </div>

    
    
    <!-- event 1st of timeline -->
    <div class="text-wrapper right">
      <!-- all text content of timeline -->
      <div class="content">

        <h3>1949</h3>
        <p>
          In a captured <a href="https://en.wikipedia.org/wiki/V-2_rocket">V-2 Rocket</a>, the United States sent up <a href="https://en.wikipedia.org/wiki/Albert_II_(monkey)">Albert II</a>, a rhesus monkey,
          which became the first primate and first mammal in space.
          <img src="albert2.jpg" alt="spaceman" style="width:100%">
        </p>

      </div>
    </div>

    <!-- event 1st of timeline -->
    <div class="text-wrapper left">
      <!-- all text content of timeline -->
      <div class="content">

        <h3>1957</h3>
        <p>

          The onset of the Cold War also brought the Space Race, and in 1957 there were a few
          major accomplishments for the Soviet Union, creating the first ICBM, sending up the first satellite and creating
          the first man-made signals from space. They even sent up a dog named <a href="https://en.wikipedia.org/wiki/Laika">Laika</a>,
          who became the first mammal in orbit.
          <img src="laika.jpg" alt="spaceman" style="width:100%">
        </p>

      </div>
    </div>

    <!-- event 1st of timeline -->
    <div class="text-wrapper right">
      <!-- all text content of timeline -->
      <div class="content">

        <h3>1961</h3>
        <p>
          1961 was a big year for space exploration, as the first human spaceflight was performed 
          by <a href="https://en.wikipedia.org/wiki/Yuri_Gagarin">Yuri Gagarin</a> from the Soviet Union, it was also the first 
          <b>human-crewed</b> orbital flight. The first <b>human-piloted</b> space flight from <a href="https://en.wikipedia.org/wiki/Alan_Shepard">Alan Shepard</a> from the United States also 
          occured in the same year. There was also the first planetary flyby, the <a href="https://en.wikipedia.org/wiki/Venera_1">Venura 1</a>, which passed within 100,000 km of Venus.
          <img src="yuri.jpg" alt="spaceman" style="width:100%">
          <img src="alan.jpg" alt="spaceman" style="width:100%">
        </p>

      </div>
    </div>

    <!-- event 1st of timeline -->
    <div class="text-wrapper left">
      <!-- all text content of timeline -->
      <div class="content">

        <h3>1965</h3>
        <p>
          In 1965, the first spacewalk was performed by <a href="https://en.wikipedia.org/wiki/Alexei_Leonov">Alexei Leonov</a> in the Voskhod 2 mission, in the same
          year, Ed White became the <a href="https://www.nasa.gov/multimedia/imagegallery/image_feature_1098.html">first American</a> to perform a spacewalk during the Gemini 4 mission.
          <img src="alexei.jpg" alt="spaceman" style="width:100%">
          <img src="firstspacewalk.jpg" alt="spaceman" style="width:100%">
        </p>

      </div>
    </div>

    <!-- event 1st of timeline -->
    <div class="text-wrapper right">
      <!-- all text content of timeline -->
      <div class="content">

        <h3>1968-1969</h3>
        <p>

          In 1968, <a href="https://en.wikipedia.org/wiki/Apollo_8">Apollo 8</a> became the first human-crewed orbital mission to another world (Moon),
          the 3 crew onboard were the first to personally witness the dark side of the Moon and an Earthrise.

          In 1969, perhaps the most famous space event in history, the first humans set foot onto the Moon's surface in the mission 
          <a href="https://en.wikipedia.org/wiki/Apollo_11">Apollo 11</a>, making <a href="https://en.wikipedia.org/wiki/Neil_Armstrong">Neil Armstrong</a> and Buzz Aldrin some of 
          the most important people in hsitory, especially in space exploration.
          This mission also became the first space launch from another celestial body other than Earth, along with the first sample return from the Moon.
          <img src="earthrise.jpg" alt="spaceman" style="width:100%">
          <img src="space3.jpg" alt="spaceman" style="width:100%">
          <img src="armstrong.jpg" alt="spaceman" style="width:100%">
        </p>

      </div>
    </div>

<!-- event 1st of timeline -->
<div class="text-wrapper left">
  <!-- all text content of timeline -->
  <div class="content">

    <h3>2022</h3>
    <p>
      
      One of the most recent events regarding space travel as of October 25th 2022, is the recent <a href="https://en.wikipedia.org/wiki/Double_Asteroid_Redirection_Test">DART</a> mission, which
      was the first attempt to deflect an asteroid, along with the first spacescraft to impact an asteroid moon (Dimorphos).
      <img src="dart1.png" alt="spaceman" style="width:100%">
      <img src="dart2.jpg" alt="spaceman" style="width:100%">
    </p>

  </div>
</div>

  </div>

  </div>

</body>

</html>
