<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles/gallery1.css">
  <title>Virtual Gallery</title>
</head>

<body>
  <header>
    <h1>Space in Various Media</h1>
  </header><br>
  <script src="scripts/gallery1.js"></script>

  <nav role="navigation">
    <ul>

      <li><a href="https://discord.com/channels/1024033746959212594/1028540058204110859/1030656299102388354">Discord Bot</a></li>
      <li><a href="index.html">Home</a></li>
      <li><a href="games.html">Video Games</a></li>
      <li><a href="anime.html">Anime</a></li>
      <li><a href="history.html">History</a></li>

    </ul>
  </nav>

  <article>
    <div id="intro">
      <h1>Introduction</h1>
      <p>
        <front size="50">

          The theme for our virtual art gallery will be based on space in various media. These media will include things such as
          anime, video games, and the history of space travel and exploration in real life. We will use this gallery to
          show the differences and similarities between video games and anime versus our real-life history on the topic
          of space exploration and space in general.
          Our discord bot will help you find new video games/anime that have to do with space, along with showing you
          important events in history that pertain to space travel.
          
        </front>
      </p>

      <div class="row">
        <div class="column">
          <img src="Reentry.jpg" alt="game" style="width:100%">
        </div>
        <div class="column">
          <img src="pictures/Astra.jpg" alt="Space_Dandy" style="width:100%">
        </div>
        <div class="column">
          <img src="pictures/space3.jpg" alt="spaceman" style="width:100%">
        </div>
      </div>


      <br>

      <div id="Games">
        <h1>Video games</h1>
        <p>
          For almost 25 years now video games have been a major part in shaping our culture, and has given gamers an
          opportunity to enjoy numerous genres of games including sci-fi and space exploration.
          This includes games like Kerbal Space Program, Terra Invicta, and Space Engine.
        </p>

        <div class="slider">
          <span id="slide-1"></span>
          <span id="slide-2"></span>
          <span id="slide-3"></span>
          <div class="image-container">
            <img src="KSP.jpg" class="slide" width="500" height="300" />
            <img src="pictures/TI.jpg" class="slide" width="500" height="300" />
            <img src="SE.jpg" class="slide" width="500" height="300" />
          </div>
          <div class="buttons">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
          </div>
        </div>


        <h1>Anime</h1>
        <p>
          For a long time now anime has been a major pastime for many people in Japan, the United States and the rest of
          the world. These shows/movies come in many different genres,
          sci-fi is just one of many and includes many amazing animes like Astra: Lost in Space, Space Dandy, Cowboy
          Bebop, and many others.
        </p>

        <div class="slider">
          <span id="slide-4"></span>
          <span id="slide-5"></span>
          <span id="slide-6"></span>
          <div class="image-container">
            <img src="pictures/spacedandy.jpg" class="slide" width="500" height="300" />
            <img src="pictures/Cowboy_Bebop.jpg" class="slide" width="500" height="300">
            <img src="pictures/Astra2.jpg" class="slide" width="500" height="300">
          </div>
          <div class="buttons">
            <a href="#slide-4"></a>
            <a href="#slide-5"></a>
            <a href="#slide-6"></a>
          </div>
        </div>

        <h1>History</h1>
        <p>Humans have always looked up into the night sky and dreamed about touching the stars and exploring our
          universe.

          In the latter half of the 20th century, rockets were developed that were powerful enough to overcome the force
          of gravity to reach orbital velocities, paving the way for space exploration to become a reality. Humanity has
          managed to land people on the Moon, land robots and probes onto Mars, and managed to send out satellites
          beyond Pluto's orbit.</p>

        <img src="pictures/space2.jpg" alt="RocketShip" class="center">

      </div>

    </div>

  </article>



</body>

</html>
